.notes-page{
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.note-list{
    background-color: #bae2fd;
    border: 10px solid #7dcbfc;
    width: 70%;
    min-width: 450px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}