.note-form{
    width: 400px;
    background-color: #90ee90;
    border: 3px solid #25c226;
    padding: 20px 30px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    transition: all 0.2s;
}
.note-title{
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
    font-weight: bold;
    outline: none;
}

.create-btn{
    width: 30px;
    height: 30px;
    font-size: 1.5rem;
    background-color: #19a01a;
    color: white;
    display: flex;
    align-items: center;
}

.create-btn:hover{
    background-color: #177e19;
}

.create-btn:active{
    background-color: #177e19;
}

.note-form:hover{
    border: 3px solid #25c226;
}