.note-card{
    width: 400px;
    background-color: #f0f8ff;
    border: 3px solid #7dcbfc;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    transition: all 0.2;
}

.card-title{
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
    font-weight: bold;
    outline: none;
}

[type="checkbox"] {
    transform: scale(2) translateX(-2px);
}

.note-card:has(input:checked){
    border: 3px solid #4ddb4e;
    background-color: #bdf6bc;
}

.card-title{
    font-weight: 100;
}

