.note-card {
    width: 100%;
    max-width: 400px;
    background-color: #f0f8ff;
    border: 3px solid #7dcbfc;
    padding: 1rem;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    transition: all 0.2s ease;
    gap: 10px;
}

.note-card.marked {
    background-color: #bdf6bc;
    border: 3px solid #4ddb4e;
}

.card-title {
    flex-grow: 1; 
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
    font-weight: 100;
    outline: none;
    min-width: 0; 
}

.div-buttons {
    display: flex;
    gap: 10px;
    flex-shrink: 0; 
}

.div-buttons button {
    width: 35px;
    height: 35px;
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 0.3s ease, transform 0.2s ease;
}

.div-buttons button:hover {
    color: #4ddb4e;
    transform: scale(1.1);
}

.div-buttons button:active {
    transform: scale(0.95);
}

@media (max-width: 360px) {
    .note-card {
        padding: 0.8rem;
        gap: 5px;
    }

    .card-title {
        font-size: 1rem;
    }

    .div-buttons button {
        width: 30px;
        height: 30px;
        font-size: 1rem;
    }
}
